{% extends "base.html" %}

{% block page_title %}
    {{funding.name}}
{% endblock page_title %}

{% block content %}
<div>
    <h1> {{funding.name}} </h1>
    <h3> {{funding.description}} </h3>
    {{funding.country}}
</div>
<div>
    <h2> 
        By: <a href="{{funding.lyricist.get_absolute_url}}">{{funding.lyricist.username}}</a>
        {% if funding.lyricist.superhost %}
            (superhost)
        {% endif %}
    </h2>
    <h3> Music Type </h3>
    <ul>
        {% for a in funding.music_type.all %}
            <li> {{a}} </li>
        {% endfor %}
    </ul>
    <h3> Funding Date </h3>
    <ul> {{funding.funding_start}} ~ {{funding.funding_end}} </ul>
</div>
{% endblock content %}