{% extends "base.html" %}

{% block page_title %}
    {{funding.name}}
{% endblock page_title %}

{% block content %}
    
    <div class="-mt-4 container max-w-full h-75vh flex mb-20">
        <div class="h-full w-1/2 bg-cover bg-center border border-gray-700" style="background-image:url({{funding.first_photo}})"></div>
        <div class="w-1/2 h-auto bg-cover bg-center border border-gray-700" style="background-image:url({{funding.get_next_photo}})"></div>
    </div>

    <div class="container mx-auto flex justify-around pb-56">
        <div class="w-1/2">
            <div class="flex justify-between">
                <div class="mr-8 mb-5">
                    <h4 class="text-3xl font-medium mb-px">{{funding.name}}</h4>
                    <span class="text-gray-700 font-light">{{funding.country.name}}</span>
                </div>
                <a href="{{funding.lyricist.get_absolute_url}}" class="flex flex-col items-center">
                    {% include "mixins/user_avatar.html" with user=funding.lyricist %}
                    <span class="mt-2 text-gray-500">{{funding.lyricist.first_name}}</span>
                </a>
            </div>
            <div class="flex border-section">
                <span class="mr-5 font-light">
                    {% for a in funding.music_type.all %}
                        {{a}}
                    {% endfor %}
                </span>
                <span class="mr-5 font-light">{{funding.music_share}} / {{funding.music_stock}}</span>
            </div>
            <p class="border-section">
                {{funding.description}}
            </p>
            {% if funding.in_progress %}
                {% if funding.lyricist != user %}
                    <a href="{% url 'buys:get' funding.pk %}" class="btn-link block mb-8">Buy Funding</a>
                {% endif %}
            {% endif %}
        </div>
        <div class="w-1/3">
            {% if funding.lyricist == user %}
                <a href="{% url 'fundings:edit' funding.pk %}" class="btn-link block mb-5">Edit Funding</a>
                {% for calendar in funding.get_calendars %}
                    <div class="mb-20">
                        <span class="text-center font-bold text-lg block mb-8">{{calendar.get_month}} / {{calendar.year}}</span>
                        <div class="cal-grid mb-4 font-semibold">
                            {% for day in calendar.day_names %}
                                <span>{{day}}</span>
                            {% endfor %}
                        </div>
                        <div class="cal-grid">
                            {% for day in calendar.get_days %}
                                {% if day.number != 0 %}
                                    {% if day.past %}
                                        <span class="bg-red-500 w-full text-center rounded-lg text-white p-2">{{day}}</span>
                                    {% elif day.npast %}
                                        <span class="bg-green-500 w-full text-center rounded-lg text-white p-2">{{day}}</span>
                                    {% else %}
                                        <span class="bg-gray-100 w-full text-center rounded-lg text-gray-700 p-2">{{day}}</span>
                                    {% endif %}
                                {% else %}
                                    <span></span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                {% for calendar in funding.get_calendars %}
                    <div class="mb-20">
                        <span class="text-center font-bold text-lg block mb-8">{{calendar.get_month}} / {{calendar.year}}</span>
                        <div class="cal-grid mb-4 font-semibold">
                            {% for day in calendar.day_names %}
                                <span>{{day}}</span>
                            {% endfor %}
                        </div>
                        <div class="cal-grid">
                            {% for day in calendar.get_days %}
                                {% if day.number != 0 %}
                                    {% if day.past %}
                                        <span class="bg-red-500 w-full text-center rounded-lg text-white p-2">{{day}}</span>
                                    {% elif day.npast %}
                                        <span class="bg-green-500 w-full text-center rounded-lg text-white p-2">{{day}}</span>
                                    {% else %}
                                        <span class="bg-gray-100 w-full text-center rounded-lg text-gray-700 p-2">{{day}}</span>
                                    {% endif %}
                                {% else %}
                                    <span></span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="pt-3 pb-3 border bg-red-400 font-medium text-gray-500 w-full">
        <h4 class="text-white text-6xl ml-16 mb-3">{{funding.name}}</h4>
        <span class="text-white text-3xl ml-16 mb-3">{{funding.lyricist}}</span>
        <audio controls class="w-5/6 items-center ml-16">
            <source src="{{ funding.funding_music }}" type="audio/ogg">
        </audio>
    </div>

{% endblock content %}