{% extends 'base.html' %}

{% block page_title %}
    {{funding.name}}'s Photos
{% endblock page_title %}

{% block search-bar %}
{% endblock search-bar %}

{% block content %}

    <div class="container mx-auto my-10 flex flex-col">

        {% for photo in funding.photos.all %}
            <div class = "mb-5 border p-6 border-gray-400 flex justify-between">
                <div class="flex items-start">
                    <img src="{{photo.file.url}}" class="w-32 h-32" />
                    <span class="ml-5 text-xl">{{photo.caption}}</span>
                </div>
                <div class = "flex flex-col w-1/5">
                    <a class="btn-link mb-5 bg-green-500" href="{% url 'fundings:edit-photo' funding.pk photo.pk %}">Edit</a>
                    <a class="btn-link bg-red-500" href="{% url 'fundings:delete-photo' funding.pk photo.pk %}">Delete</a>
                </div>
            </div>
        {% endfor %}

        <div class="flex justify-center mt-5">
            <a class="text-red-400 font-bold text-xl" href="{% url 'fundings:edit' funding.pk %}">Back to edit funding</a>
        </div>

    </div>

{% endblock content %}