{% extends "base.html" %}

{% block page_title %}
    Home
{% endblock page_title %}

{% block content %}

    <div class="container mx-auto pb-10">
        
        <div class="rounded-xl -mx-40 bg-gray-800 h-50vh mt-32 mb-10 bg-cover bg-center" style="background-image:url(https://images.unsplash.com/photo-1421217336522-861978fdf33a?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fG11c2ljfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&)"></div>

        <div class="flex flex-wrap -mx-40 mb-5">
            {% for funding in fundings %}
                {% include 'partials/funding_card.html' with funding=funding %}
            {% endfor %}
        </div>

        <div class="flex items-center justify-center mx-auto container">
            {% if page_obj.has_previous %}
                <a href="?page={{page_obj.previous_page_number}}" class="text-pink-600"> <i class="fa-solid fa-arrow-left fa-lg"></i> </a>
            {% endif %}
            
            <span class="mx-3 font-medium text-lg">Page{{page_obj.number}} of {{page_obj.paginator.num_pages}}</span>

            {% if page_obj.has_next %}
                <a href="?page={{page_obj.next_page_number}}" class="text-pink-600"> <i class="fa-solid fa-arrow-right fa-lg"></i> </a>
            {% endif %}
            
        </div>

    </div>

{% endblock content %}

