<div class="w-1/4 mb-10 px-2 overflow-hidden">
    <a href="{% url 'musics:mdetail' music.pk %}">
    <div class="w-full h-64 bg-cover bg-center rounded-md mb-3" style="background-image: url({{music.first_photo}});"></div>
    <div class="flex justify-between mb-2">
        <div class="border border-black text-black rounded py-px px-1">
            <span> {{music.lyricist}} </span>
        </div>
        <div>
            <i class="fas fa-star text-yellow-300 mx-1"></i>{{music.total_rating}}
        </div>
    </div>
    <span class="text-balck w-11/12 block truncate">{{music.name}}</span>
    </a>
</div>