{% extends "base.html" %}
{% load on_favs %}

{% block page_title %}
    {{music.name}}
{% endblock page_title %}

{% block content %}

    <div class="-mt-4 container max-w-full h-75vh flex mb-20">
        <div class="h-full w-1/2 bg-cover bg-center border border-gray-700" style="background-image:url({{music.first_photo}})"></div>
        <div class="w-1/2 h-auto bg-cover bg-center border border-gray-700" style="background-image:url({{music.get_next_photo}})"></div>
    </div>

    <div class="container mx-auto flex justify-around pb-56">
        <div class="w-1/2">
            <div class="flex justify-between">
                <div class="mr-8 mb-5">
                    <h4 class="text-3xl font-medium mb-px">{{music.name}}</h4>
                    <span class="text-gray-700 font-light">{{music.lyricist}}</span>
                </div>
                <a href="{{music.lyricist.get_absolute_url}}" class="flex flex-col items-center">
                    {% include "mixins/user_avatar.html" with user=music.lyricist %}
                    <span class="mt-2 text-gray-500">{{music.lyricist.first_name}}</span>
                </a>
            </div>
            {% if music.lyricist != user %}
                {% on_favs music as on_favs_boolean %}
                {% if on_favs_boolean %}
                    <a class="block mb-10 w-2/5 text-red-400 font-bold" href="{% url 'lists:toggle-music' music.pk %}?action=remove">Remove from Favorite Music</a>
                {% else %}
                    <a class="block mb-10 w-2/5 text-red-400 font-bold" href="{% url 'lists:toggle-music' music.pk %}?action=add">Save to Favorite Music</a>
                {% endif %}
            {% endif %}
            <div class="flex border-section">
                <span class="mr-5 font-light">
                    {% for a in music.music_type.all %}
                        {{a}}
                    {% endfor %}
                </span>
            </div>
            <p class="border-section">
                {{music.description}}
            </p>
            
        </div>
        <div class="w-1/3">
            {% if music.lyricist == user %}
                <a href="{% url 'musics:edit' music.pk %}" class="btn-link block mb-8">Edit Music</a>
            {% else %}
                <a href="{% url 'reviews:create' music.pk %}" class="btn-link block mb-8">Write a Review</a>
            {% endif %}
            <div>
                <h4 class="font-medium text-2xl mb-5">Reviews</h4>
                <div class="flex items-center">
                    <div>
                        <i class="fas fa-star text-yellow-300"></i>
                        <span class="font-bold text-xl">{{music.total_rating}}</span>
                    </div>
                    <div class="h-4 w-px bg-gray-300 mx-5"></div>
                    <div>
                        <span class="font-bold text-xl">{{music.reviews.count}}</span>
                        <span>review{{music.reviews.count|pluralize}}</span>
                    </div>
                </div>
                <div class="mt-8">
                    {% for review in music.reviews.all %}
                        <div class="border-section">
                            <div class="mb-3 flex">
                                <div>
                                    {% include "mixins/user_avatar.html" with user=review.user h_and_w="w-12 h-12" text="text-xl" %}
                                </div>
                                <div class="flex flex-col ml-3">
                                    <span class="font-bold">{{review.user.first_name}}</span>
                                    <span class="text-sm text-gray-500">{{review.created|date:'F Y'}}</span>
                                </div>
                            </div>
                            <p>{{review.review}}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}